
.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}
.shipping {
  text-align: center;
  margin-bottom: 20px;
}
.btn:hover{
  background-color: #333;
}
.shipping-title {
  font-size: 24px;
  font-weight: bold;
  color: #333; 
  align-items: center;
}

.shipping-description {
  font-size: 16px;
  align-items: center;
  color: #666; 
}

 .container {
    width: 100%;
    max-width: 600px; 
    margin: 0 auto;
    padding: 20px;
  }
  .headings{
    font-size: 35px;
    color: #7e817f;
    margin-left: 10px;
    margin-top: 10px;
  }
  .btn{
    background-color: #000;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 600;
    display: block;
    color: #fff;
    width: 100%;
    padding: 1rem;
    border-radius: 0.25rem;
    border: 0;
    cursor: pointer;
    outline: 0;
  }
  .content {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .app-title {
    font-size: 1.6rem;
    margin-bottom: 20px;
  }
  
  form {
    display: grid;
    gap: 20px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
  }
button a {
  color: black;
}
  input:focus {
    outline: none;
    border-color: #007bff;
  }
  
  input::placeholder {
    color: #999;
  }
  
  input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  input[type="submit"]:hover {
    background-color: #0056b3;
  }
  .button-containers {
    text-align: center;
    margin-bottom: 30px;
    
  }
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 0px;
    color: #333; 
  }
  .buttons button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .buttons button:hover {
    background-color: #0056b3;
  }
  
  .buttons button:focus {
    outline: none;
  }
  
 
  .button-containers {
    margin-top: 20px;
    background-color: #000;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 600;
    display: block;
    color: #fff;
    width: 100%;
    padding: 1rem;
    border-radius: 0.25rem;
    border: 0;
    cursor: pointer;
    outline: 0;
  }
  .notauth {
    text-align: center;
    margin-top: 50px;
  }
 
  .please {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
    
  .button1:focus {
    outline: none;
  }

  .notauth button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    text-align: center;
  }
  .button1:hover{
    background-color: #0056b3;
  }
  .button1{
    width:520px;
    height: 35px;
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    margin-bottom: 30px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
   
    
    text-decoration: none;
   
  }

  .notauth button:hover {
    background-color: #0056b3;
  }
  

 