<app-admin-header></app-admin-header>

<div class="responsive-container-block bigContainer">
    <div class="responsive-container-block Container">
      <p class="text-blk heading">
        About Us
      </p>
      <p class="text-blk subHeading">
        Welcome to UrbanBazaar, where we redefine your shopping experience! Founded in 2024, we have been dedicated to providing top-quality products and exceptional service to our valued customers.
      </p>
      <p class="text-blk heading">
       Mission
      </p>
      <p class="text-blk subHeading">
        At UrbanBazaar, our mission is simple: to empower our customers to discover, explore, and purchase the products they love with ease and confidence. We strive to create a seamless online shopping journey that exceeds expectations and fosters long-term relationships with our customer
      </p>
      <p class="text-blk heading">
        Our Values
       </p>
      
       <p class="text-blk subHeading">
        Customer satisfaction is at the heart of everything we do. We are committed to delivering an unparalleled shopping experience by offering a diverse range of products, efficient order processing, and responsive customer support.
      </p>
      <p class="text-blk subHeading">
        We believe in offering only the finest quality products sourced from trusted brands and manufacturers. Each product undergoes rigorous quality checks to ensure authenticity and reliability.
      </p>
      <p class="text-blk subHeading">
        Embracing innovation and leveraging cutting-edge technology, we continuously evolve our platform to enhance user experience, streamline operations, and stay ahead of industry trends
      </p>
       <p class="text-blk heading">
        Our Team
       </p>
       <p class="text-blk subHeading">
        Behind UrbanBazaar, is a dedicated team of professionals passionate about delivering excellence. From our customer service representatives to our tech experts and logistics personnel, each member of our team plays a crucial role in our success.
      </p>
      <div class="team-member">
        <img class="team-member-img" src="https://iflair.keka.com/files/3f55a6e5-296a-44b3-ae3b-533ab037d07e/200x200/profileimage/e90e89ab5fb64e50a9b71a98d1701194.jpg?1711627200000" alt="Team Member 1">
        <div class="team-member-info">
          <h3>Shahil Patel</h3>
          <p>CEO & Co-Founder</p>
        </div>
      </div>
      <div class="team-member">
        <img class="team-member-img" src="https://iflair.keka.com/files/3f55a6e5-296a-44b3-ae3b-533ab037d07e/200x200/profileimage/d610929191ea41069c2e347986055d79.jpg?1711627200000" alt="Team Member 2">
        <div class="team-member-info">
          <h3>Sagar Patel</h3>
          <p>CTO & Co-Founder</p>
        </div>
      </div>
      
      <p class="text-blk heading">
        Join Us on Our Journey
       </p>
       <p class="text-blk subHeading">
        Whether you're a seasoned shopper or new to online shopping, we invite you to join us on our journey. Explore our vast selection of products, discover exclusive deals, and experience the convenience of shopping at UrbanBazaar.

        Thank you for choosing UrbanBazaar. We look forward to serving you!
        
        
      </p>
      <div class="social-icons-container">
        <a class="social-icon">
          <img class="socialIcon image-block" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/bb33.png">
        </a>
        <a class="social-icon">
          <img class="socialIcon image-block" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/bb34.png">
        </a>
        <a class="social-icon">
          <img class="socialIcon image-block" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/bb35.png">
        </a>
        <a class="social-icon">
          <img class="socialIcon image-block" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/bb36.png">
        </a>
      </div>
    </div>
  </div>