<footer>
    <div class="footer-container">
        <div class="footer-section">
            <h3>Contact Us</h3>
            <p>Email: shahilpatel688&#64;gmail.com</p>
            <p>Phone: +919016892875</p>
            <p>Follow us on <a href="https://www.instagram.com/ecommercechoice">Instagram</a></p>
        </div>
        <div class="footer-section">
            <h3 >Helpful Links</h3>
            <ul>
                <li ><a routerLink="/">Home</a></li>
            
                <li><a routerLink="/review">Contact Us</a></li>
                <!-- <li><a routerLink="/review">Review</a></li> -->
            </ul>
        </div>
        <div class="footer-section">
            <h3>Partners</h3>
            <p>Zara</p>
            <p>Pantaloons</p>
            <p>Levi's</p>
            <p>UCB</p>
            <p>and more...</p>
        </div>
        <div class="footer-section">
            <h3>Address</h3>
            <p>3rd Floor, Google Main Office</p>
            <p>CG Road, Paldi, Ahmedabad</p>
        </div>
    </div>
</footer>
