

<div class="subscription-container">
    <div class="subscription-card">
      <div class="card-header">
        <h2>Place Your Order</h2>
      </div>
      
      <div class="card-body">
        <form [formGroup]="checkoutForm">
          <div class="form-group" id="">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" formControlName="name" [readonly]="true"   required>
          </div>
          <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" id="email" name="email" formControlName="email" [readonly]="true" required>
          </div>
          <div class="form-group">
            <label for="address">Address</label>
            <textarea id="address" name="address" rows="3" formControlName="address"  [readonly]="true"  required></textarea>
          </div>
          <div class="form-group">
            <label for="paymentMethod">Payment Method</label>
            <select id="paymentMethod" name="paymentMethod" required>
              <option value="">Select Payment Method</option>
              <option value="creditCard">Credit Card</option>
              <option value="debitCard">Debit Card</option>
            
            </select>
          </div>
         
          <div class="form-group">
            <label for="promoCode">Promo Code (optional)</label>
            <input type="text" id="promoCode" name="promoCode" placeholder="Enter promo code">
          </div>
          
          <button type="submit" (click)="redirectToCheckout()">Order Now</button>
         
        </form>
      </div>
    </div>
  </div>
  