/* subscription-page.component.css */

.subscription-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .subscription-card {
    width: 400px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .card-header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .card-header h2 {
    margin: 0;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .required {
    color: #ff0000;
  }
  
  .form-group input,
  .form-group textarea,
  .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .card-details {
    display: flex;
    justify-content: space-between;
  }
  
  .expiry-cvv .form-group {
    width: calc(50% - 10px);
  }
  
  .promo-group {
    margin-top: 20px;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  /* subscription-page.component.css */

.readonly {
    background-color: #f2f2f2; /* Light gray background color */
  }
  #name{
    background-color: #d6d1d1;
  }
  #address {
    background-color: #d6d1d1;
  }
  #email{
    background-color: #d6d1d1;
  }