
h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.5rem;
    color: #333;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }

  .container > div {
    flex: 1;
  }
  
  .container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .container img:hover {
    transform: scale(1.05);
  }
  
  .form-container {
    flex: 1;
    max-width: 500px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-container label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
  }
  
  .form-container input[type="text"],
  .form-container input[type="number"],
  .form-container input[type="file"] ,select{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  
  .form-container input[type="text"]:focus,
  .form-container input[type="number"]:focus,
  .form-container input[type="file"]:focus,select {
    border-color: #6cb2eb;
    box-shadow: 0 0 5px rgba(108, 178, 235, 0.5);
  }
  
  .submit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 15px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  h1 {
    margin-top: 8px;
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.5rem;
    color: #333;
  }